@use "colors";

* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 48px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

#searchMenu {
    display: flex;
    position: relative;
    z-index: 1;
    gap: 16px;
    width: 100%;
    padding: 16px;
    justify-content: center;


    .searchMenuType {
        gap: 16px;
        align-items: center;
        width: 100%;

        #latitude {
            display: flex;
            gap: 8px;
            align-items: center;
        }

        #longitude {
            display: flex;
            gap: 8px;
            align-items: center;
        }
    }

    input[type="text"],
    button,
    select {

        padding: 8px 16px;
    }

    #searchAddressInput {
        width: 350px;
    }

    #searchPreview {
        position: absolute;
        flex-direction: column;
        width: 350px;
        border: 2px solid rgba($color: #777777, $alpha: 0.5);
        border-bottom: none;
        top: 100%;
        left: 5%;

        .searchPreviewItem {
            padding: 8px 16px;
            border-bottom: 2px solid rgba($color: #777777, $alpha: 0.5);
            background-color: white;
        }
    }

    label{
        display: flex;
        gap: 8px;
        align-self: center;
    }
}

#datas {
    flex-direction: column;
    position: relative;
    width: 100%;
    gap: 32px;


    #datasFormPreviewSelection {
        display: flex;
        width: 100%;
        gap: 4px;
        box-sizing: border-box;

        .menuFormPreview {
            width: 50%;
            text-align: center;
            background-color: lightgrey;
            padding: 4px 8px;
            border-radius: 16px 16px 0 0;
            -webkit-border-radius: 16px 16px 0 0;
            -moz-border-radius: 16px 16px 0 0;
            -ms-border-radius: 16px 16px 0 0;
            -o-border-radius: 16px 16px 0 0;
        }

        .menuFormPreviewActive {
            background-color: black;
            color: white;
            text-align: center;
        }
    }

    #dataPreview {
        display: flex;
        flex-direction: column;
        gap: 16px;

        #datasTitle {
            color: blue;
            text-align: center;
        }

        #weatherInformations {
            margin: 0 auto;
            gap: 4px;

            table {
                border-collapse: collapse;
                border: 2px solid rgb(140 140 140);
                font-family: sans-serif;
                font-size: 0.8rem;
                letter-spacing: 1px;

                thead,
                tfoot {
                    background-color: rgb(228 240 245);
                }

                th,
                td {
                    border: 1px solid rgb(160 160 160);
                    padding: 4px 8px;
                }

                td:last-of-type {
                    text-align: center;
                }

                tbody>tr:nth-of-type(even) {
                    background-color: rgb(237 238 242);
                }

                tfoot th {
                    text-align: right;
                }

                tfoot td {
                    font-weight: bold;
                }
            }


        }


        #buttons {
            display: flex;
            width: 100%;
            justify-content: space-around;

            button {
                padding: 8px 16px;
            }
        }
    }


}

.hidden {
    display: none;
}

.visible {
    display: flex;
}