@use "colors";

* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 48px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

#searchMenu {
    display: flex;
    position: relative;
    z-index:1 ;
    gap: 16px;
    width: 100%;
    padding: 16px;
    justify-content: center;


    .searchMenuType{
        gap:16px;
        align-items: center;
        width: 100%;

        #latitude{
            display: flex;
            gap: 8px;
            align-items: center;
        }
        #longitude{
            display: flex;
            gap: 8px;
            align-items: center;
        }
    }
    input[type="text"], button, select{
        
        padding: 8px 16px;
    }

    #searchAddressInput{
        width: 350px;
    }

    #searchPreview{
        position: absolute;
        flex-direction: column;
        width: 350px;
        border: 2px solid rgba($color: #777777, $alpha: 0.5);
        border-bottom: none;
        top:100%;
        left:5%;

        .searchPreviewItem{
            padding: 8px 16px;
            border-bottom: 2px solid rgba($color: #777777, $alpha: 0.5);
            background-color: white;
        }
    }
}

#datas {
    flex-direction: column;
    position: relative;
    width: 100%;
    gap: 32px;


    #datasFormPreviewSelection {
        display: flex;
        width: 100%;
        gap: 4px;
        box-sizing: border-box;

        .menuFormPreview {
            width: 50%;
            text-align: center;
            background-color: lightgrey;
            padding: 4px 8px;
            border-radius: 16px 16px 0 0;
            -webkit-border-radius: 16px 16px 0 0;
            -moz-border-radius: 16px 16px 0 0;
            -ms-border-radius: 16px 16px 0 0;
            -o-border-radius: 16px 16px 0 0;
        }

        .menuFormPreviewActive {
            background-color: black;
            color: white;
            text-align: center;
        }
    }

    #dataPreview {
        display: flex;
        flex-direction: column;
        gap: 16px;

        #datasTitle {
            color: blue;
            text-align: center;
        }

        #weatherInformations {
            flex-direction: column;
            justify-content: center;
            gap: 4px;

            .dataLine {
                display: flex;
                gap: 16px;
                width: 100%;
                justify-content: center;
            }
        }


        #buttons {
            display: flex;
            width: 100%;
            justify-content: space-around;

            button {
                padding: 8px 16px;
            }
        }
    }


}

.hidden {
    display: none;
}

.visible {
    display: flex;
}